- var upperYear = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'];
- var lowerYear = ['Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
- var months = upperYear.concat (lowerYear);

mixin datePad(date)
  small.wholeDate
    span.date= date.split ('-')[2]
    br
    != months[parseInt (date.split ('-')[1]) - 1] + ' ' + date.split ('-')[0]

mixin postHeader(post, withLink)
  if withLink
    a(href="/posts/#{post.name}.html")
      +datePad(post.date)
    a(href="/posts/#{post.name}.html")
      h2= post.title
  else
    +datePad(post.date)
    h2= post.title

  if post.tags
    .postTags
      | Tags:
      each tag in post.tags
        | &nbsp;
        span.postTag!= tag
